/* ::-webkit-scrollbar { display: none; } */

/* TODO 
 * design for mobile first
 */

:root{
    --radius:5px;

    /* colors */
    --grey0 : gainsboro;
    --grey1 : #CFCFCF;
    --grey2 : #A8A8A8;
    --grey3 : #777777;
    --grey4 : #565656;
    --grey5 : #414141;
    --grey6 : #333333;

    --green1 : #4b5320;
    --green2 : #444b1d;
    --green3 : #3c421a;
    --green4 : #353a16;
    --green5 : #2d3213;
    --green6 : #262a10;
    --green7 : #1e210d;
    --green8 : #17190a;
    --green9 : #0f1106;

    --color-accent1 : var(--green5);
    --color-accent2 : var(--green1);

    --color-main : var(--grey2);
    --color-plain : var(--grey6);
    --color-text : var(--grey6);
}


html, body {
    max-width: 100%;
    overflow-x: hidden;
}

body {
    margin : 0;
    background : var(--color-main);
    color : var(--color-text);
    font-family : "Nunito", sans-serif;
}

div { padding : 5px 5px; }
span { text-align : center; }

.flex {
    display: flex;

}
.row {
    height : 100%;
    display: grid;
    grid-auto-flow: column;
    grid-row : 1;
}
.col {
    width : 100%;
    display : grid;
    /* border: 3px rgb(216, 117, 81) solid; */

    grid-template-columns : 100%;
    grid-auto-flow: row;
    grid-column : 1;
}

/* grids and flex boxes are spaced evenly by default */
.even , .row , .col , .flex {
    width : 100%;
    grid-gap : 10px;
    justify-content : space-evenly;
    justify-items : center;
    align-content : space-evenly;
    align-items: center;
}
.center {
    justify-content : center;
    justify-items : center;
    align-content : center;
    align-items: center;
}

#avatar {
    border-radius: 50%;
    width: 200px;
}

#intro {
    align-self: center;

    display: grid;
    grid-template-rows : auto;

    justify-content : center;
    justify-items : center;
    align-content : center;
    align-items: center;
}

.content-left{
    grid-area: content-left;
}
.content-right{
    grid-area: content-right;
}
.content-center {
    grid-area: content-left / content-left / content-left / content-right;

    display: flex;
    justify-content: space-evenly;
    align-items: center;

    overflow: auto;
}

.double {
    width : 100%;
    display : grid;
    grid-gap : 10px;
    grid-auto-flow: dense;
    grid-template-columns: 1fr 1fr;
}

h1, h2, h3 {
    letter-spacing : 3px;
    padding : 5px; margin : 5px;
    text-transform: uppercase;
}

.text-center , h1, h2 {
    text-align : center;
}

ul {
    padding : 0px 0px
}

li {
    list-style: none;
}

li.bullet {
    list-style : inside;
}

i {
    /* background : var(--color-main); */
    color : var(--color-plain);
}
i:hover {
    color : var(--color-accent2);
}


p {
    color: var(--color-text);
    font-size : 15px;
    line-height: 2;
    margin : 5px; padding : 5px;
}




a {
    color: var(--color-plain);
    text-decoration: none;
    height : 100%; width : 100%;
}

/* a:hover {
    color: var(--color-accent2);
} */

nav a {
    color: var(--color-main);
    text-decoration: none;
}

nav li a{
    letter-spacing : 3px; /* could make em h3 h4 */
    padding : 12px 8px;
}


p a , h1 a {
    color : var(--color-accent2);
}
p a:hover , h1 a:hover {
    text-decoration: underline;
}

nav a:hover {
    /* background-color: var(--color-accent2); */
    color : var(--grey0);
}


.onpage {
    background-color : var(--color-main);
    color : var(--color-accent1);
}

embed {
    align-self: stretch;
}


/* approved ^^^ */

.container {
    margin : 0;
    padding : 0;
    min-height : 98vh;
    display:grid;

    grid-template-columns: 0.5fr 1fr 1fr 0.5fr;
    grid-template-rows: 60px 1fr 1fr;
    grid-template-areas:
        "nav nav nav nav"
        ". main main ."
        ". main main .";
    grid-gap:0.2rem;

    font-weight: 800;
    font-size:12px;
}

main{
    padding : 0 5px 0 5px; margin : 0 5px 0 5px;
    display: grid;
    grid-area: main;
    grid-template-columns:  1fr 1fr ;
    grid-template-rows:  60px 1.5fr;

    grid-template-areas:
        ". ."
        "content-left content-right";

    grid-gap:0.2rem;
    font-size:12px;
}

nav {
    background: var(--color-accent1);
    color : var(--color-main);

    /* cant stick cuz its in the grid but you could overlay and fix */
    position: sticky;
    top: 0px;

    grid-area: nav;

    display: flex;

    justify-content: space-evenly; 
    align-items: center;

    min-height: 8vh;
    text-transform: uppercase;

}

.highlight:hover {
    background: var(--grey1);
    border-radius : 5px;
}

.mobile { display:none; }
.unmobile { display:initial; }

/* mobile */
@media only screen and (max-width: 768px) {

    .mobile { display:initial; }
    .unmobile { display:none; }

    nav {
        display : grid;
        grid-template-rows : 1fr 2fr;
        grid-template-columns : 1fr ;
    }
    li {
        font-size : 10px;
    }

    .container {
        grid-template-columns: 1fr 1fr ;
        grid-template-rows: 100px 1fr 1fr;
        grid-template-areas:
            "nav nav"
            "main main"
            "main main";
    }

    .double {
        width : 100%;
        display : grid;
        grid-gap : 10px;
        grid-auto-flow: dense;
        grid-template-columns: 1fr;
    }

    p { font-size : 10px; }
    h2 { font-size : 15px; }

}

