{% extends "layout.html" %}

{% block content %}
        <div class="center-box"><h1>Publications</h1></div>

        {% for p in pub %}

            <article class="media content-section">
              <div class="media-body">
                <div class="article-metadata">
                  <small class="text-muted">{{ p.date }}</small>
                </div>
                <h2>{{ p.title }}</h2>
                <p class="article-content"><a href={{p.url}}>{{ p.url }}<a/></p>
              </div>
            </article>

        {% endfor %}

{% endblock content %}
