:root{

    --radius:5px;

    --grey0 : gainsboro;
    --grey1 : #CFCFCF;
    --grey2 : #A8A8A8;
    --grey3 : #777777;
    --grey4 : #565656;
    --grey5 : #414141;
    --grey6 : #333333;

    --green1 : #4b5320;
    --green2 : #444b1d;
    --green3 : #3c421a;
    --green4 : #353a16;
    --green5 : #2d3213;
    --green6 : #262a10;
    --green7 : #1e210d;
    --green8 : #17190a;
    --green9 : #0f1106;

    --color-accent1 : var(--green5);
    --color-accent2 : var(--green1);

    --color-main : var(--grey2);
    --color-plain : var(--grey6);
    --color-text : var(--grey6);
}

body {
  font-family: "Nunito", sans-serif;
  margin: 0;
  padding: 0;
  color: var(--color-text);
  background-color: var(--color-main);
  font-size: 16px; 
}

nav , footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-accent1);
  color: var(--color-main);
}

nav * {
  color: var(--color-main);
  text-decoration: none;
}
nav *:hover { color: var(--grey0); }

a:not(nav *) {
  color: var(--color-accent2);
  text-decoration: none;
  font-weight: bold;
}

em { 
  font-weight: bold; 
  font-style: normal;
}
a i { color: var(--color-plain); }
a i:hover { color: var(--color-accent2); }

div {
  max-width: 800px;
  margin: auto;
  padding: 5px;
  font-style: normal;
}

.grid {
  display: grid;
  grid-gap: 1rem;
  padding: 1rem;
  place-items: center;
}

.autorow{
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

section {
    padding: 10px
}

.light {
    background: var(--grey0);
}

h1, h2, h3, h4 {
    letter-spacing : 3px;
    padding : 5px; margin : 5px;
    text-transform: uppercase;
}

p {
  padding : 5px; margin : 5px;
}

#intro,  .cflex, .rflex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.rflex { flex-direction: row; }
@media only screen and (max-width: 500px) {
    .rflex { flex-direction: column; }
    div { max-width: auto; }
}


#intro {
  text-transform: uppercase;
  text-align: center;
}

img {
  width: 200px;
  height: 200px;
  border-radius: 5px;
  margin: 0.5rem;
}

#avatar {
  border-radius: 50%;
  margin: 60px 1rem 1rem 1rem;
}

#socials a {
  color: var(--color-accent2);
  margin: 0 0.5rem;
}

#socials a:hover {
  color: var(--color-text);
}

.hoverhide:hover {
    opacity: 0;
}

.card { 
    background: white; 
    box-shadow: 1px 1px 20px var(--color-text);
    border-radius: 5px;
    margin: 10px;
}

button {
    background: var(--color-accent1);
    color: var(--grey0);
    font-weight: bold;
    border-radius: 20px;
    border-width: 0px;
    padding: 5px 10px;
    margin: 10px;
}
